<!DOCTYPE html>
<html>
<title>Quad Online | About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="about" class="w3-bar-item w3-button">The Quad</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="about" class="w3-bar-item w3-button">About</a>
      <a href="menu" class="w3-bar-item w3-button">Menu</a>
      <a href="contact" class="w3-bar-item w3-button">Contact</a>
      <a href="staff" class="w3-bar-item w3-button">Staff View</a>
    </div>
  </div>
</div>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">Menu</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      <a href="#staff" class="w3-bar-item w3-button">Staff View</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="fish and chips.jpg.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Carey</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="Cooking.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

        <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Canteen Orders</h1><br>
      <h5 class="w3-center">Carey Baptist Grammar School</h5>
      <p class="w3-large">This website allows students to pre-order and pay for their lunch and recess meals/snacks to skip the canteen line. Students order their food online and only the canteen staff can view student’s orders. The way it works is students order their food online before school or roll call then the order gets put through to the staff ready to collect at lunch/recess. This website reduces the line for the canteen and skips the dilemma of what to get when students are actually in the canteen. </p>
      <p class="w3-large w3-text-grey w3-hide-medium">Payment is similar to the current print credit system. Parents can use credit/debit cards to top up the students order and the guardian/parent can be notified if activated when a student orders something.</p>
    </div>
  </div>    
  
  <hr>  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
</footer>

</body>
</html>
