<!DOCTYPE html>
<html>
<title>Quad Online | Snacks Menu</title>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  width: 100%;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>

<table border="1" style="width:100%">
	<tr style="background-color:lightblue;"> 
	  <th>Snacks</th> 
	  <th>Price</th> 
	  <th>Image</th>
	  <th>Order</th>
	  <th>Qty</th>
	</tr>
	
	<tr>     
	  <td>Lifesavers</td>
	  <td>$2.20 EA</td>
	  <td><img src="/LifeSavers.png" class="center"></td> 
	  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td>
	  <td><input type="number" name="qty">Qty</input><td>
	  
	</tr>
	
	<tr>
	  <td>Dixie Cup</td>
	  <td>$2.30 EA</td>
	  <td><img src="/dixiecup.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	  
	</tr>
	
	<tr>
	  <td>Icy Pole</td>
	  <td>$1.20 EA</td>
	  <td><img src="/icy pole.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	
	</tr>
	
	<tr>
	  <td>Frosty Fruits</td>
	  <td>$2.20 EA</td>
	  <td><img src="/frosty fruits.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	
	</tr>
	
	<tr>
	  <td>Milo Scoop Shake</td>
	  <td>$3.00 EA</td>
	  <td><img src="/milo scoop shake.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	
	<tr>
	  <td>Juice Cups</td>
	  <td>$1.00 EA</td>
	  <td><img src="/juice cup.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	
	<tr>
	  <td>Dried Apple and Apricot</td>
	  <td>$2.50 EA</td>
	  <td><img src="/download.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	
	<tr>
	  <td>Harvest Box Snack Pack</td>
	  <td>$3.00 EA</td>
	  <td></td>
	  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	</tr>
	<tr>
	  <td>Protein Balls</td>
	  <td>$2.00 EA</td>
	  <td><img src="/portein balls.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	<tr>
	  <td>Spring Hill Slice</td>
	  <td>$1.80 EA</td>
	  <td></td>
		<td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	</tr>
	<tr>
	<td>Freddo Chocolate</td>
	<td>$1.10 EA</td>
	<td><img src="/freddo.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	</tr>
	
	<tr>
	  <td>Muesli Bite</td>
	  <td>$1.00 EA</td>
	  <td><img src="/muesli bite.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	<tr>
	  <td>Cough Lollies</td>
	  <td>$2.20 EA</td>
	  <td><img src="/cough lollies.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	<tr>
	<td>Cookies</td>
	<td>$3.00 EA</td>
	<td></td>
	<td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	</tr>
	<tr>
	  <td>Gluten Free Cookies</td>
	  <td>$3.20 EA</td>
	  <td></td>
	  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	</tr>
	
	
	<tr>
	  <td>Gingerbread Man</td>
	  <td>$2.20 EA</td>
	  <td><img src="/gingerbread man.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	<tr>
	  <td>Popcorn</td>
	  <td>$2.60 EA</td>
	  <td><img src="/popcorn.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	<tr>
	<td>Piranha Veggie Chips</td>
	<td>$3.30 EA</td>
	<td></td>
	<td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	</tr>
	<tr>
	  <td>Red Rock Deli Chips</td>
	  <td>$2.60 EA</td>
	  <td><img src="/red rock chips.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	
	<tr>
	  <td>Grain Waves</td>
	  <td>$2.60 EA</td>
	  <td><img src="/grain waves.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	<tr>
	  <td>Fantastic Noodle Cup</td>
	  <td>$3.20 EA</td>
	  <td><img src="/noodle.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

	</tr>
	<tr>
	<td>Mamee Noodle Snack</td>
	<td>$1.00 EA</td>
	<td><img src="/mameenoodle.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
	  </table>
<button class="button button1" onclick="window.location.href='menu'">Order Now!</button>

</html>