<!DOCTYPE html>
<html>
<title>Quad Online | Drinks Menu</title>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  width: 100%;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
	<p>
		<table border="1" style="width:100%">
			<tr style="background-color:lightblue;"> 
			  <th>Drinks</th> 
			  <th>Price</th> 
			  <th>Image</th>
			  <th>Order</th>
			</tr>
			</tr>
			<tr>
			  <td>Thank You Water</td>
			  <td>$2.50</td>
			  <td><img src="/thankyouwater.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			
			<tr>
			  <td>Mount Franklin Sparkling</td>
			  <td>$2.80</td>
			  <td><img src="/sparkling water.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			  <td>Pump</td>
			  <td>$4.00</td>
			  <td><img src="/pump water.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			<td>Pump Flavoured</td>
			<td>$4.10</td>
			<td><img src="/pump-flavoured.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
			</tr>
			<tr>
			  <td>Juice Box</td>
			  <td>$2.80</td>
			  <td><img src="/juicebox.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			
			<tr>
			  <td>Vitamin Water</td>
			  <td>$4.00</td>
			  <td><img src="/vitamin water.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			  <td>Fuze Tea</td>
			  <td>$3.60</td>
			  <td><img src="/fuze tea.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			<td>Quench</td>
			<td>$2.20</td>
			<td><img src="/quench.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
			</tr>
			<tr>
			  <td>Powerade</td>
			  <td>$4.00</td>
			  <td><img src="/powerade.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			<td>Kombucha</td>
			<td>$4.00</td>
			<td><img src="/kombucha.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
			</tr>
			<tr>
			  <td>Perkii Probiotics</td>
			  <td>$4.90</td>
			  <td><img src="/perki drink.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			
			<tr>
			  <td>Emma and Toms Juice</td>
			  <td>$4.00</td>
			  <td><img src="/emmaandtomsjuice.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			  <td>Emma and Toms Milk</td>
			  <td>$3.30</td>
			  <td><img src="/emmaandtomsmilk.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			<td>Dare</td>
			<td>$4.50</td>
			<td><img src="/dare.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
			<tr>
			  <td>Big M 300ml</td>
			  <td>$2.50</td>
			  <td><img src="/big m 300ml.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			<tr>
			<td>Big M 600ml</td>
			<td>$3.80</td>
			<td><img src="/product-bigm.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
			</tr>
			<tr>
			  <td>Plain Milk</td>
			  <td>$2.00</td>
			  <td></td>
			  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
			</tr>
			
			<tr>
			  <td>Nippy's</td>
			  <td>$3.40</td>
			  <td><img src="/Nippy's.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

			</tr>
			</table>
</p>
<button class="button button1" onclick="window.location.href='menu'">Order Now!</button>
</html>
