<!DOCTYPE html>
<html>
   <title>W3.CSS Template</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <style>
      body {font-family: "Times New Roman", Georgia, Serif;}
      h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
      }
   </style>
   <body>
      <!-- Navbar (sit on top) -->
      <div class="w3-top">
         <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="about" class="w3-bar-item w3-button">Gourmet au Catering</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
               <a href="about" class="w3-bar-item w3-button">About</a>
               <a href="menu" class="w3-bar-item w3-button">Order Now</a>
               <a href="contact" class="w3-bar-item w3-button">Contact</a>
            </div>
         </div>
      </div>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
         <a href="#about" class="w3-bar-item w3-button">About</a>
         <a href="#menu" class="w3-bar-item w3-button">Menu</a>
         <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </div>
      </div>
      </div>
      <!-- Header -->
      <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
         <img class="w3-image" src="/w3/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
         <div class="w3-display-bottomleft w3-padding-large w3-opacity">
            <h1 class="w3-xxlarge">Le Catering</h1>
         </div>
      </header>
      <!-- Page content -->
      <div class="w3-content" style="max-width:1100px">
         <!-- Menu Section -->
         <div class="w3-row w3-padding-64" id="menu">
            <div class="w3-col l6 w3-padding-large">
               
              <table border="1" style="width:100%">
                <tr style="background-color:lightblue;"> 
                  <th>Snacks</th> 
                  <th>Price</th> 
                  <th>Image</th>
                  <th>Order</th>
                  <th>Qty</th>
                </tr>
                
                <tr>     
                  <td>Lifesavers</td>
                  <td>$2.20</td>
                  <td><img src="/LifeSavers.png" class="center"></td> 
                  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td>
                  <td><input type="number" name="qty">Qty</input><td>
                  
                </tr>
                
                <tr>
                  <td>Dixie Cup</td>
                  <td>$2.30</td>
                  <td><img src="/dixiecup.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                  
                </tr>
                
                <tr>
                  <td>Icy Pole</td>
                  <td>$1.20</td>
                  <td><img src="/icy pole.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                
                </tr>
                
                <tr>
                  <td>Frosty Fruits</td>
                  <td>$2.20</td>
                  <td><img src="/frosty fruits.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                
                </tr>
                
                <tr>
                  <td>Milo Scoop Shake</td>
                  <td>$3.00</td>
                  <td><img src="/milo scoop shake.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                
                <tr>
                  <td>Juice Cups</td>
                  <td>$1.00</td>
                  <td><img src="/juice cup.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                
                <tr>
                  <td>Dried Apple and Apricot</td>
                  <td>$2.50</td>
                  <td><img src="/download.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                
                <tr>
                  <td>Harvest Box Snack Pack</td>
                  <td>$3.00</td>
                  <td></td>
                  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                  <td>Protein Balls</td>
                  <td>$2.00</td>
                  <td><img src="/portein balls.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                  <td>Spring Hill Slice</td>
                  <td>$1.80</td>
                  <td></td>
                    <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                <td>Freddo Chocolate</td>
                <td>$1.10</td>
                <td><img src="/freddo.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                
                <tr>
                  <td>Muesli Bite</td>
                  <td>$1.00</td>
                  <td><img src="/muesli bite.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                  <td>Cough Lollies</td>
                  <td>$2.20</td>
                  <td><img src="/cough lollies.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Cookies</td>
                <td>$3.00</td>
                <td></td>
                <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                  <td>Gluten Free Cookies</td>
                  <td>$3.20</td>
                  <td></td>
                  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                
                
                <tr>
                  <td>Gingerbread Man</td>
                  <td>$2.20</td>
                  <td><img src="/gingerbread man.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                  <td>Popcorn</td>
                  <td>$2.60</td>
                  <td><img src="/popcorn.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Piranha Veggie Chips</td>
                <td>$3.30</td>
                <td></td>
                <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                  <td>Red Rock Deli Chips</td>
                  <td>$2.60</td>
                  <td><img src="/red rock chips.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                
                <tr>
                  <td>Grain Waves</td>
                  <td>$2.60</td>
                  <td><img src="/grain waves.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                  <td>Fantastic Noodle Cup</td>
                  <td>$3.20</td>
                  <td><img src="/noodle.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Mamee Noodle Snack</td>
                <td>$1.00</td>
                <td><img src="/mameenoodle.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                  </table>
                  
                  <p>
                  <table border="1" style="width:100%">
                <tr style="background-color:lightblue;"> 
                  <th>Drinks</th> 
                  <th>Price</th> 
                  <th>Image</th>
                  <th>Order</th>
                </tr>
                </tr>
                <tr>
                  <td>Thank You Water</td>
                  <td>$2.50</td>
                  <td><img src="/thankyouwater.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                
                <tr>
                  <td>Mount Franklin Sparkling</td>
                  <td>$2.80</td>
                  <td><img src="/sparkling water.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                  <td>Pump</td>
                  <td>$4.00</td>
                  <td><img src="/pump water.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Pump Flavoured</td>
                <td>$4.10</td>
                <td><img src="/pump-flavoured.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                  <td>Juice Box</td>
                  <td>$2.80</td>
                  <td><img src="/juicebox.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                
                <tr>
                  <td>Vitamin Water</td>
                  <td>$4.00</td>
                  <td><img src="/vitamin water.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                  <td>Fuze Tea</td>
                  <td>$3.60</td>
                  <td><img src="/fuze tea.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Quench</td>
                <td>$2.20</td>
                <td><img src="/quench.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                  <td>Powerade</td>
                  <td>$4.00</td>
                  <td><img src="/powerade.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Kombucha</td>
                <td>$4.00</td>
                <td><img src="/kombucha.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                  <td>Perkii Probiotics</td>
                  <td>$4.90</td>
                  <td><img src="/perki drink.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                
                <tr>
                  <td>Emma and Toms Juice</td>
                  <td>$4.00</td>
                  <td><img src="/emmaandtomsjuice.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                  <td>Emma and Toms Milk</td>
                  <td>$3.30</td>
                  <td><img src="/emmaandtomsmilk.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Dare</td>
                <td>$4.50</td>
                <td><img src="/dare.jpg" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                <tr>
                  <td>Big M 300ml</td>
                  <td>$2.50</td>
                  <td><img src="/big m 300ml.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                <tr>
                <td>Big M 600ml</td>
                <td>$3.80</td>
                <td><img src="/product-bigm.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                <tr>
                  <td>Plain Milk</td>
                  <td>$2.00</td>
                  <td></td>
                  <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>
                </tr>
                
                <tr>
                  <td>Nippy's</td>
                  <td>$3.40</td>
                  <td><img src="/Nippy's.png" class="center"></td> <td><input type="checkbox" name="ordercheckbox" value="Ordered">Order<br></td><td><input type="number" name="qty">Qty</input><td>

                </tr>
                </table>
               
            </div>
            <div class="w3-col l6 w3-padding-large">
               <img src="//w3/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
            </div>
         </div>
         <hr>
         <!-- End page content -->
      </div>
      <!-- Footer -->
      <footer class="w3-center w3-light-grey w3-padding-32"></footer>
   </body>
</html>